body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:  #042773;
}

.contenedor-botones {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.boton {
    padding: 20px 40px;
    font-size: 1.2em;
    background-color: #9ca6f5;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
    text-decoration: none;
    text-align: center;
}

.boton:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.boton:active {
    transform: scale(0.95);
}